:root {
  /* Variables para el modo claro */
  --background-color: #ebebeb; /*3564AE*/
  --text-color: #000;
  --text-color-pokemon: #FFCB05;
  --nav-background-color: #c20803;
  --pokemon-card-background: #fff;
  --button-background: #C0C0C0;
  --modal-background: #fafdff;
}

[data-theme="dark"] {
  /* Variables para el modo oscuro */
  --background-color: #333;
  --text-color-pokemon: #FFCB05;
  --text-color: #d4d4d4;
  --nav-background-color: #1e1e1e;
  --pokemon-card-background: #444;
  --button-background: #666;
  --modal-background: #2c2c2c;
}

/* Estilos para el pokédex */
body {
  font-family: Arial, sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
}

.fs-4 {
  font-size: 1.5rem; /* Tamaño de fuente más grande */
}

nav {
  background-color: var(--nav-background-color);
  width: 100%;
  position: fixed;
  z-index: 1000;
  height: 100px;
  box-sizing: border-box;
}

h1 {
  color: var(--text-color-pokemon);
  text-align: center;
  font-weight: 800;
  text-shadow: -2px -2px 0 #003A70, 2px -2px 0 #003A70, -2px 2px 0 #003A70, 2px 2px 0 #003A70;
  margin: 0 0 0 0;
}

.optionsNavbar {
  display: flex;
}

.search-container {
  text-align: center;
  margin-bottom: 20px;
}

main {
    padding-top: 100px;
}

.sectionMain {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.sectionMain #paginationContainer {
  margin: .5rem 0 0 0;
}

#paginationContainer .btn {
  background-color: #C0C0C0;
}

#paginationContainer .btn:disabled {
  background-color: #C0C0C0;
  color: #6d6d6d;
}

#paginationContainer .btn:hover {
  background-color: #acacac;
  color: #000;
}


.sectionMain #pokemonContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  grid-auto-rows: minmax(150px, auto); /* Ajusta el tamaño de las filas */
  gap: .3rem .5rem;
  padding: 1rem 20px 1rem; /* Padding para desktop */
  box-sizing: border-box;
}


#pokeTarjet {
  width: 110px;
  height: 150px;
  background-color: var(--pokemon-card-background);
  background-image: url(img/PokeballOpacitad1.png);
  background-size: 130%;
  background-repeat: no-repeat;
  background-position: 1rem 2rem;
  border: .5px solid rgb(131, 131, 131);
  -webkit-box-shadow: 10px 10px 13px -9px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 13px -9px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 13px -9px rgba(0,0,0,0.75);
}

#pokeTarjet:hover {
  transform: scale(1.15); 
  transition: transform 0.2s ease;
  cursor: pointer;
  z-index: 999;
  border: 1px solid rgb(119, 119, 119);
}

#containerTopCard {
  width: 100%;
  padding: 2px 2px 0 0;
}

#typeCard {
  color: #666666d5;
  position: relative;
  top: 5px;
  left: 5px;
  font-size: 15px;
  font-weight: 550;
  display: flex;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#typeCard i {
  color: #00000052;
  width: 100%;
  margin: 3px 2px 0px 2px;
}
#typeCard > i:first-of-type {
  margin-right: 5px;
}

#pokeTarjet h3 {
  color: var(--text-color-pokemon);
  text-shadow: -1px -1px 0 #00000088, 1px -1px 0 #00000088, -1px 1px 0 #00000088, 1px 1px 0 #00000088;
  font-weight: 800;
  font-size: clamp( .5rem, 2em, 1.1em);
  padding: 0 6px 0 7px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#numberCard {
  color: #0000003a;
  font-weight: 150;
  font-size: 1.3em;
  margin: 10px 0 0 0;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

#pokeTarjet img {
  position: absolute;
  height: 105px;
  top: 23px;
  left: 6px;
}


#Search_Pokemon {
  width: 300px;
  margin: auto;
}

/*ESTILOS DE LA TARJETA MODAL*/

.modal-dialog {
  width: 320px; /* ancho de la tarjeta modal */
}

.topCard {
  display: flex;
  flex-direction: row-reverse;
}

#modalContainerImg {
  display: flex;
  justify-content: center;
  background-image: url(img/ModalBackgroundImg.jpg);
  background-size: cover;
  margin: 0 .5rem 0 .5rem;
  border: 2px solid rgba(0, 0, 0, 0.589);
}

#modalImg {
  width: 200px; /* Ancho de la imagen */
  height: auto; /* Altura de la imagen ajustada automáticamente */
  box-sizing: content-box;
}

.card-body h4 {
  text-align: center;
  background-color: #00000042;
  -webkit-text-stroke: 1px #000000; /* Borde de 1 píxel de color negro */
  color: #ffb005; /* Color del texto */
  font-size: 2rem;
}

.card {
  --bs-card-border-color: #C0C0C0;
  background-color: var(--modal-background);
  background-image: url(img/BackgroundCard.jpg);
  border-color: #b95e20;
}

.card li {
  background-color: #ffffff3f;
  margin: 0;
  border-color: rgba(0, 0, 0, 0.253);
  font-weight: bold;
}