/* Estilos para el pokédex */
body {
    font-family: Arial, sans-serif;
}

nav {
    background-color: #BE202F;
    width: 100%;
    position: fixed;
    z-index: 999;
}

main {
    padding-top: 120px;
}

h1 {
  color: rgb(245, 244, 244);
  text-align: center;
}

.search-container {
    text-align: center;
    margin-bottom: 20px;
}

#pokemonContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 100%;
}

#pokeTarjet {
  width: 130px;
  height: 180px;
  background-color: rgb(194, 194, 194);
}

#pokeTarjet:hover {
  background-color: #f5f5f5;
}

#pokeTarjet:hover h3{
  color: #f5f5f5;
}

#pokeTarjet h3 {
  font-weight: 400;
}

#Search_Pokemon {
  width: 300px;
  margin: auto;
}

.modal-dialog-centered {
  align-items: center;
}

.modal-content {
  width: 300px;
}

#modalImg {
  width: 100px; /* Ancho de la imagen */
  height: auto; /* Altura de la imagen ajustada automáticamente */
  box-sizing: content-box;
}

.fs-4 {
  font-size: 1.5rem; /* Tamaño de fuente más grande */
}
