/* Estilos para el pokédex */
body {
    font-family: Arial, sans-serif;
}

nav {
    background-color: #BE202F;
    width: 100%;
    position: fixed;
    z-index: 999;
}

main {
    padding-top: 120px;
}

h1 {
  color: rgb(255, 208, 0);
  text-align: center;
}

.search-container {
    text-align: center;
    margin-bottom: 20px;
}

#pokemonContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#pokeTarjet {
  width: 150px;
}

#Search_Pokemon {
  width: 300px;
  margin: auto;
}

#modalImg {
  max-height: 400px;
  width: auto;
  height: auto;
}